/*Estilos de la barra de Navegacion*/
#navegacion{
  color: white !important;
  font-weight: bold;
}
/*aqui va los estilos del fondo welcome*/
#fondoWelcome{
  background-color: #white;

}
/*aqui las configuraciones del fondo de APP*/
#fondoApp{

}
